<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355916344297-60e0h89vp8j7cp4q3tjs0drlp1udph0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355916344297-60e0h89vp8j7cp4q3tjs0drlp1udph0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDiE8_vta36a8SfwuVTKnPURlI9I03Vy2I</string>
	<key>GCM_SENDER_ID</key>
	<string>355916344297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arista</string>
	<key>PROJECT_ID</key>
	<string>arista-232bf</string>
	<key>STORAGE_BUCKET</key>
	<string>arista-232bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355916344297:ios:0e20aaafe7ade64cfbb978</string>
</dict>
</plist>